<!-- <mat-form-field>
  <mat-select placeholder="State" multiple [(ngModel)]="modelEthernet">
    <mat-option *ngFor="let el of arrayETHERNET" [value]="el.value"> {{el.label}} </mat-option>
  </mat-select>
</mat-form-field> -->

<mat-form-field>
	<mat-select placeholder="State2" [(ngModel)]="modelGroup" multiple #itemSelect="ngModel">

		<mat-option class="filter-option" disabled="disabled">
			<button mat-button (click)="selectAll(itemSelect)">Seleziona Tutti</button>
			<button mat-button (click)="deselectAll(itemSelect)">Deseleziona Tutti</button>
		</mat-option>

    <!-- Loop through each group via the groups array -->
		<mat-optgroup *ngFor="let group of groups" [label]="group.name">
			<mat-option *ngFor="let item of group.items" [value]="item.value">
				{{item.label}}
			</mat-option>
		</mat-optgroup>
	</mat-select>
</mat-form-field>


<p>You selected: {{modelGroup}}</p>
<button (click)="test()">Click</button>